@page "/BreakingBad"

<div class="container-fluid dogs-page">
    <div id="section-title" class="row p-2 mb-4">
        <div class="col-12">
            <h2>
                Breaking Bad Quotes
            </h2>
            <ul class="col-12 list-group list-group-horizontal text-center">
                <li class="list-group-item col">
                    <small>quote</small>
                    <small>author</small>
                </li>       
            </ul>
        </div>
    </div>
</div>