@page "/"
@page "/index"

<div class="container-fluid">
    <div class="banner row">
        <div class="banner-image">

        </div>
        <div class="overlay">
            <nav class="navbar navbar-light bg-light p-3">
                <div class="input-group input-group-lg">     
                        <input class="form-control form-control-lg" type="text" placeholder="Say my name.." aria-label="Search">
                        <button class="btn btn-primary btn-lg">Search</button>
                </div>
            </nav>
        </div>
    </div>
</div>